# IDE/editor folders
.vscode/
.idea/
*.swp

# Dependency directories
node_modules/    # Node.js
build/
dist/

# Environment & secret files
.env
.env.*           # .env.local, .env.production etc.
*.key
*.pem
node_modules
